body {
  margin: 0;
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100vh;
}
#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
.player-parent {
  max-height: 100vh;
  width: fit-content;
  grid-column-end: -1;
  z-index: 100;
  grid-row-start: 1;
  background-color: black;
  display: grid;
  grid-template-columns: auto;
}
.spinner {
  background: url("/img/load.gif") no-repeat center center;
  height: 700px;
}
.player {
  width: 320px;
  grid-column: 1/2;
  height: 100%;
  position: relative;
  background: url("/img/audio.gif") no-repeat center center;
}
.social {
  height: 50px;
}
.embed {
  grid-column: 2/-1;
  max-height: 100vh;
}
.grad {
  height: 100vh;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(36, 33, 33, 0.11) 0%,
    rgba(13, 12, 12, 0.678) 24%,
    rgba(10, 10, 10, 0.699) 51%,
    rgb(0, 0, 0) 80%,
    rgb(0, 0, 0) 100%
  );
  color: snow;
}
audio {
  border-radius: 0;
  color: black;
  position: absolute;
  bottom: 0;
  transform: translate(-50%);
  width: 100%;
}

.play-pause {
  height: 120px;
  width: 120px;
  border-radius: 50%;
  border: solid 10px snow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.names {
  position: absolute;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.name {
  font-size: 1em;
  font-weight: bolder;
  top: 100%;
}
.freq {
  font-weight: 100;
  font-size: 0.9em;
}
.play {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
  border-left: 40px solid snow;
}
.pause {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.bar {
  height: 60px;
  width: 12px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  background-color: snow;

  top: 50%;
  margin: 10px;
}
.social {
  display: inline;
  position: absolute;
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.social img {
  height: 40px;
  margin: 10px;
}
iframe {
  width: 100%;
  height: 100%;
}
